<!DOCTYPE html>
<html>
<%- include ../layouts/head.ejs %>
<body>
<section class="main">
    <%- include ../layouts/menu.ejs %>
    <div class="container">
        <ul class="breadcrumb">
            <li>用户管理</li>
            <li>用户列表</li>
        </ul>
        <div class="content">
        <div class="form-inline mar-bottom20">
            <div class="form-group">
                角色：<select class="input-sm" id="selRole">
                    <option value="">全部</option>
                    <option value="1">系统管理员</option>
                    <option value="2">采购员</option>
                    <option value="3">销售员</option>
                    <option value="0">普通用户</option>
                </select>
            </div>
            <input type="button" class="btn btn-sm btn-danger" value="查询" id="btnQuery" />
        </div>
        <table class="table table-striped" >
            <thead>
            <tr>
                <th>角色名</th>
                <th>权限</th>
            </tr>
            </thead>
            <tbody id="roleList">
            </tbody>
        </table>
    </div>
    </div>
</section>
<%- include ../layouts/footer.ejs %>
<script type="text/javascript">
    seajs.use("/javascripts/roleMsg", function(roleMsg){
        roleMsg.init();
    });
</script>
<script type="text/x-jsrender" id="template">
			<tr>
				<td>{{:rolename}}</td>
				<td>{{:roleid}}</td>
			</tr>
	</script>
</body>

</html>
