<!DOCTYPE html>
<html>
<%- include ../layouts/head.ejs %>
<body>
<section class="main">
    <%- include ../layouts/menu.ejs %>
    <div class="container">
        <ul class="breadcrumb">
            <li>商品管理</li>
            <li>商品列表</li>
        </ul>
        <div class="content">
            <input id="pageIndex" type="hidden" value="1"/>
        <div class="mar-bottom20">
            <div class="form-group col-sm-4">
                商品名称：<input type="text" class="form-control input-sm w100" id="txtProductName" />
            </div>
            <div class="form-group col-sm-4">
                类别：<select class="form-control input-sm w100" id="txtProductType" name="txtProductType">
                </select>
            </div>
            <div class="form-group col-sm-4">
                子类别：<select class="form-control input-sm w100" id="txtProductSort" name="txtProductSort">
                </select>
            </div>
        </div>
            <div class="mar-bottom20">
                <div class="form-group col-sm-8">
                    添加时间：<input type="text" class="form-control input-sm w100" value="2016-01-01"  id="txtAddTimeStart" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'txtAddTimeEnd\')}',isShowClear:false,readOnly:true})"  />
                    ~<input type="text" class="form-control input-sm w100"  id="txtAddTimeEnd"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'txtAddTimeStart\')}',isShowClear:false,readOnly:true})" />
                </div>
                <input type="button" class="btn btn-sm btn-danger" value="查询" id="btnQuery" />
                <input type="button" class="btn btn-sm btn-default" value="清除条件" id="btnClear" />
                <a href="/productMsg/addProduct" class="btn btn-sm btn-danger">添加商品</a>
            </div>
        <table class="table table-striped text-center" >
            <thead>
            <tr>
                <th class="text-center">商品名称</th>
                <th class="text-center">类别</th>
                <th class="text-center">子类别</th>
                <th class="text-center">单价</th>
                <!--<th class="text-center">库存</th>-->
                <!--<th class="text-center">销量</th>-->
                <!--<th class="text-center">状态</th>-->
                <th class="text-center">添加时间</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody id="userList">
                <template  v-for="item in items">
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.typeName }}</td>
                        <td>{{ item.sortName }}</td>
                        <td>{{ item.price }}</td>
                        <!--<td>{{ item.inventory }}</td>-->
                        <!--<td v-if="!item.sales">0</td>-->
                        <!--<td v-if="item.sales">{{ item.sales}}</td>-->
                        <!--<td>{{ item.status }}</td>-->
                        <td>{{ item.addtime }}</td>
                        <td>{{ item.updatetime }}</td>
                        <td>
                            <a href="/productMsg/addProduct?type={{ item.type }}&proNum={{ item.productNum }}&addtime={{ item.addtime }}">修改</a>
                            <!--<br/><a href="javascript:void(0);" onclick="addCart('{{ item.photoOne }}','{{ item.name }}',' {{ item.price }}','{{ item.productNum}}','{{ item.productNum }}')">加入购物车</a>-->
                            <!--<br/><a href="javascript:void(0);" onclick="addOrder('{{ item.photoOne }}','{{ item.name }}',' {{ item.price }}','{{ item.productNum}}','{{ item.productNum }}')">生成订单</a>-->
                        </td>
                    </tr>
                </template >
            </tbody>
        </table>
            <div class="page-bar mar-top20">
                <ul class="clearfix">
                    <li v-if="showFirst"><a v-on:click="cur--">上一页</a></li>
                    <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                        <a v-on:click="btnClick(index);">{{ index }}</a>
                    </li>
                    <li v-if="showLast"><a v-on:click="cur++">下一页</a></li>
                    <li><a>共<i>{{all}}</i>页</a></li>
                </ul>
            </div>
    </div>
    </div>
</section>
<%- include ../layouts/footer.ejs %>
<script src="/msgView/javascripts/common/vue.js"></script>
<script src="/msgView/javascripts/common/page.js"></script>
<script type="text/javascript">
    seajs.use("/msgView/javascripts/productMsg/productList", function(productList){
        productList.init();
    });
</script>
</body>
</html>
