@import "base";
$main-color: #ca1209;
$main-bg-color:white;
body {
  min-width: 992px;
  font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  background: #f9f9f9;
}

.col-sm-2 {
  width: 16.66666667%;
  float: left;
}
.col-sm-10 {
  width: 83.33333333%;
  float: left;
}
.breadcrumb{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #eee;
}
dl{
  padding-right: 100px;
}
.top{
  background-color: $main-bg-color;
}
.title{
  color:$main-color;
  font-family:'方正舒体';
  font-weight: bold;
  margin-top:0;
  padding-top:20px;
  span{
    font-size: 20px;
  }
}
.menu{
  height: 50px;
  font-size: 16px;
  @include linear(lighten($main-color,5%),lighten($main-color,5%),$main-color);
}
%menu-radius{
  @include border-radius(4px 4px 0 0);
}
.menu-first{
  list-style: none;
  padding-top:15px;
  li{
    display: inline-block;
    line-height: 35px;
    padding: 0 20px;
    &:hover{
      background-color:darken($main-color,2%);
      @extend %menu-radius;
    }
  }
  .active,.active:hover{
    background-color:darken($main-color,7%);
    @extend %menu-radius;
  }
  a{
    color:$main-bg-color;
    &:hover{
      text-decoration: none;
    }
  }
}
.content{
  padding:40px 20px;
  background-color: #ffffff;
}

/*page-bar*/
ul,li{
  margin: 0px;
  padding: 0px;
}

.page-bar ul{
  display: table;
  margin:auto;
}
.page-bar li{
  list-style: none;
  display: inline;
  float: left;
}
.page-bar li:first-child>a {
  margin-left: 0px
}
.page-bar a{
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d9534f;
  cursor: pointer
}
.page-bar a:hover{
  background-color: #eee;
}
.page-bar .active a{
  color: #fff;
  cursor: default;
  background-color: #d9534f;
  border-color: #d9534f;
}
.page-bar i{
  font-style:normal;
  color: #009329;
  margin: 0px 4px;
  font-size: 12px;
}
/*文件上传*/
.uploadPhoto{
  #photoShow{
    width:100%;
    margin-top:10px;
  }
  .photo-item{
    width:auto;
    display: inline-block;
    border:1px solid #ddd;
    padding:2px;
    margin:2px;
    img{
      display: block;
      width:176px;
      height:96px;
      border:0;
      cursor:pointer;
    }
  }
}