@charset "UTF-8";
.pad-top10 {
  margin-top: 10px; }

.pad-top20 {
  margin-top: 20px; }

.pad-top50 {
  margin-top: 50px; }

.pad-top100 {
  margin-top: 100px; }

.mar-top10 {
  margin-top: 10px; }

.mar-top20 {
  margin-top: 20px; }

.mar-top50 {
  margin-top: 50px; }

.mar-top100 {
  margin-top: 100px; }

.pad-left10 {
  margin-left: 10px; }

.pad-left20 {
  margin-left: 20px; }

.pad-left50 {
  margin-left: 50px; }

.pad-left100 {
  margin-left: 100px; }

.mar-left10 {
  margin-left: 10px; }

.mar-left20 {
  margin-left: 20px; }

.mar-left50 {
  margin-left: 50px; }

.mar-left100 {
  margin-left: 100px; }

.pad-right10 {
  margin-right: 10px; }

.pad-right20 {
  margin-right: 20px; }

.pad-right50 {
  margin-right: 50px; }

.pad-right100 {
  margin-right: 100px; }

.mar-right10 {
  margin-right: 10px; }

.mar-right20 {
  margin-right: 20px; }

.mar-right50 {
  margin-right: 50px; }

.mar-right100 {
  margin-right: 100px; }

.pad-bottom10 {
  margin-bottom: 10px; }

.pad-bottom20 {
  margin-bottom: 20px; }

.pad-bottom50 {
  margin-bottom: 50px; }

.pad-bottom100 {
  margin-bottom: 100px; }

.mar-bottom10 {
  margin-bottom: 10px; }

.mar-bottom20 {
  margin-bottom: 20px; }

.mar-bottom50 {
  margin-bottom: 50px; }

.mar-bottom100 {
  margin-bottom: 100px; }

.w200, .w200.form-control {
  width: 200px; }

.w150, .w150.form-control {
  width: 150px; }

.w100, .w100.form-control {
  width: 100px; }

.w80, .w80.form-control {
  width: 80px; }

.w50, .w50.form-control {
  width: 50px; }

.w30, .w30.form-control {
  width: 30px; }

.wid20 {
  width: 20%; }

.wid25 {
  width: 25%; }

.wid50 {
  width: 50%; }

.wid60 {
  width: 60%; }

.wid75 {
  width: 75%; }

.wid80 {
  width: 80%; }

.wid90 {
  width: 90%; }

.wid96 {
  width: 96%; }

.wid98 {
  width: 98%; }

.wid100 {
  width: 100%; }

.h200 {
  height: 200px; }

.h150 {
  height: 150px; }

.h100 {
  height: 100px; }

.h50 {
  height: 50px; }

.red {
  color: red; }

.gray {
  color: #bbb; }

body {
  min-width: 992px;
  font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  background: #f9f9f9; }

.col-sm-2 {
  width: 16.66666667%;
  float: left; }

.col-sm-10 {
  width: 83.33333333%;
  float: left; }

.breadcrumb {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #eee; }

dl {
  padding-right: 100px; }

.top {
  background-color: white; }

.title {
  color: #ca1209;
  font-family: '方正舒体';
  font-weight: bold;
  margin-top: 0;
  padding-top: 20px; }
  .title span {
    font-size: 20px; }

.menu {
  height: 50px;
  font-size: 16px;
  background-color: #e2140a;
  background: -moz-linear-gradient(top, #e2140a 0%, #e2140a 80%, #ca1209 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2140a), color-stop(80%, #e2140a), color-stop(100%, #ca1209));
  background: -webkit-linear-gradient(top, #e2140a 0%, #e2140a 80%, #ca1209 100%);
  background: -o-linear-gradient(top, #e2140a 0%, #e2140a 80%, #ca1209 100%);
  background: -ms-linear-gradient(top, #e2140a 0%, #e2140a 80%, #ca1209 100%);
  background: linear-gradient(to bottom, #e2140a 0%, #e2140a 80%, #ca1209 100%); }

.menu-first li:hover, .menu-first .active, .menu-first .active:hover {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0; }

.menu-first {
  list-style: none;
  padding-top: 15px; }
  .menu-first li {
    display: inline-block;
    line-height: 35px;
    padding: 0 20px; }
    .menu-first li:hover {
      background-color: #c01109; }
  .menu-first .active, .menu-first .active:hover {
    background-color: #a80f07; }
  .menu-first a {
    color: white; }
    .menu-first a:hover {
      text-decoration: none; }

.content {
  padding: 40px 20px;
  background-color: #ffffff; }

/*page-bar*/
ul, li {
  margin: 0px;
  padding: 0px; }

.page-bar ul {
  display: table;
  margin: auto; }

.page-bar li {
  list-style: none;
  display: inline;
  float: left; }

.page-bar li:first-child > a {
  margin-left: 0px; }

.page-bar a {
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d9534f;
  cursor: pointer; }

.page-bar a:hover {
  background-color: #eee; }

.page-bar .active a {
  color: #fff;
  cursor: default;
  background-color: #d9534f;
  border-color: #d9534f; }

.page-bar i {
  font-style: normal;
  color: #009329;
  margin: 0px 4px;
  font-size: 12px; }

/*文件上传*/
.uploadPhoto #photoShow {
  width: 100%;
  margin-top: 10px; }
.uploadPhoto .photo-item {
  width: auto;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 2px;
  margin: 2px; }
  .uploadPhoto .photo-item img {
    display: block;
    width: 176px;
    height: 96px;
    border: 0;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
