<section class="panel" id="panelNav">
    <ul class="nav-aside">
        <li class="user-info">
            <a href="#">
                <img src="/viewUsers/images/<%=userInfo.photo%>">
                <div><%=userInfo.userName%></div>
            </a>
        </li>
        <li><a href="/users/index">首页</a></li>
        <li><a href="/users/cartList">购物车</a></li>
        <li><a href="/users/orderList">我的订单</a></li>
        <li><a href="/users/userDetail">个人设置</a></li>
    </ul>
    <span class="exit">退出</span>
</section>
